{% extends 'authentication/base.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="container col-sm-12 col-md-9 col-lg-6" id="log-in">
        <h1 class="title">Connexion</h1>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button btn-primary btn-lg btn-block" type="submit">Se connecter</button>
        </form>
        <p class="signup">Vous n'avez pas encore de compte? <a href="/inscription/">Créez-en un!</a></p>
    </div>
{% endblock %}